<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>teste</h1>
    <ul>
     
        <li> NOME: <%= docs.full_name %> </li>
        <li>SEGUINDO: <%= docs.follows.count %></li>
        <li>PUBLICACOES: <%= docs.media.count %></li>
        
     
    </ul>
  </body>
</html>