<html>
  <head>
    <title>d</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- PEGANDO AS LEGENDAS DAS PUBLICACOES -->
    <em>Legendas:</em>
    

    
    


    <!-- <ul>
      <% for(let publicacao of docs[0].publicacoes) { %>
          <li>
              <%= publicacao.node.caption %>
          </li>
        <% }%>
      </ul> -->
  </body>
</html>

