<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <!-- PEGANDO AS LEGENDAS DAS PUBLICACOES -->
    <ul>
      <% for(let publicacao of docs[0].publicacoes) { %>
          <li>
              <%= publicacao.isVideo %>
          </li>
        <% }%>
      </ul>

  
    
  </body>
</html>

